anndata==0.8.0
contourpy==1.0.7
cycler==0.11.0
doubletdetection==4.2
et-xmlfile==1.1.0
fonttools==4.39.0
h5py==3.8.0
harmonypy==0.0.9
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.7.1
natsort==8.3.1
networkx==3.0
numba==0.56.4
numpy==1.23.5
openpyxl==3.1.1
packaging==23.0
pandas==1.5.3
patsy==0.5.3
Pillow==9.4.0
pip==23.0.1
pynndescent==0.5.8
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
scanpy==1.9.3
scikit-learn==1.2.2
scikit-misc==0.1.4
scipy==1.10.1
seaborn==0.12.2
session-info==1.0.0
setuptools==67.6.0
six==1.16.0
statsmodels==0.13.5
stdlib-list==0.8.0
threadpoolctl==3.1.0
tqdm==4.65.0
umap-learn==0.5.3
wheel==0.38.4